---
import Layout from "../layouts/Layout.astro";
---

<script>
	function isUsername(user: string) {
		return /^[a-zA-Z]+(\s[a-zA-Z]+)?$/.test(user); //Cambie la funcion para que acepte solamente un Espacio en cualquier lugar de la cadena
	}

	function isRegister(register: string) {
		return /^\d{9}$/.test(register);
	}

	const username = document.getElementById("username") as HTMLInputElement;
	const register = document.getElementById("register") as HTMLInputElement;
	const login = document.getElementById("login");

	if (login == null) {
		console.log("ERROR MAXIMO");
	} else {
		login.addEventListener("click", (e) => {
			if (!isRegister(register.value) || !isUsername(username.value)) {
				e.preventDefault();
				alert("Ingresa los valores como se muestra en los ejemplos");
			} else {
				const data = {
					//datos declarados en la constante data
					username: username.value,
					register: register.value,
				};
			}
		});
	}
</script>

<Layout title="proyectoFinal">
	<div class="container">
		<div class="row justify-content-center align-content-around">
			<h1 class="col-10 text-light text-center font-family-logo">
				LOST BUAP
			</h1>
			<form
				class="col-4 text-light text-center bg-translucid rounded-4 justify-content-center"
			>
				<label class="d-flex flex-column justify-content-around"
					>User
					<input
						type="text"
						placeholder="Juanito Perez"
						class="input-button"
						id="button"
					/>
				</label>
				<label class="d-flex flex-column justify-content-around">
					Register
					<input
						type="password"
						placeholder="202212345"
						class="input-button"
						id="button "
					/>
				</label>
				<button type="submit" class="button" id="login">Login</button>
			</form>
		</div>
	</div>
</Layout>

<style>
	.row {
		height: 100vh;
	}
	h1 {
		font-size: 8rem;
		letter-spacing: 1.5rem;
		margin: 0;
	}
	form {
		padding: 2rem;
		font-size: 1.7rem;
		height: 25rem;
		display: grid;
		grid-template-rows: 3fr 3fr 1fr;
		gap: 1.5rem;
		justify-items: center;
	}
	input,
	button {
		font-size: 1.5rem;
	}
</style>
