---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Report page">
    <div class="container">
        <h1 class="col-12 text-center font-family-logo">Report page</h1>
        <p>Desde aqui podras mandarnos un correo con la informacion del objeto que perdiste y detalles de donde y cuando lo perdiste.<br> Pero primero ubica tu facultad...</p>
        <table class="col-12 col-md-6">
            <thead>
                <tr>
                    <th>Facultad</th>
                    <th>Ubicacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Facultad de Ingenieria</td>
                    <td class="btn-1 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Computacion</td>
                    <td class="btn-2 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Derecho</td>
                    <td class="btn-3 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Administacion</td>
                    <td class="btn-4 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Contabilidad</td>
                    <td class="btn-5 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Biologia</td>
                    <td class="btn-6 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Farmacobiologia</td>
                    <td class="btn-7 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Fisico-matematicas</td>
                    <td class="btn-8 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Artes</td>
                    <td class="btn-9 text-center"><button>Location</button></td>
                </tr>
                <tr>
                    <td>Facultad de Cultura Fisica</td>
                    <td class="btn-10 text-center"><button>Location</button></td>
                </tr>
            </tbody>
        </table>
        <img src="../images/cu-general.jpg" class="col-12 col-md-6">
    </div>
</Layout>

<style>
    .container {
        height: 100vh;
    }
    h1
    {
        font-size: 5rem;
        color: white;
        margin-bottom: 0rem;
    }
    p
    {
        font-size: 1.5rem;
        color: white;
        text-align: left;
    }
    td{
        font-size: 1rem;
        color: white;
        text-align: left;
    }
    th{
        font-size: 1.5rem;
        color:crimson;
        text-align: center;
    }
</style>