---
import { type Place } from "../types/lost_object";
interface Props {
    name: string;
    place: Place;
    photo: string;
    important: boolean;
}
const { name, place, photo, important } = Astro.props;
---

<div
    class:list={[
        "item_c text-white text-center rounded-5",
        { "bg-danger": important, "bg-primary": !important },
    ]}
>
    <img src={photo} alt="object" />
    <h3 class="mt-3">
        {name}
    </h3>
    <p>{place.faculty}</p>
</div>
<style>
    .item_c {
        width: 12rem;
        height: 18rem;
        overflow: hidden;
    }
    img {
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }
</style>
