---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="css/main.min.css" />
        <link rel="stylesheet" href="css/main.min.css.map" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="gradient-bg-form font-family-text">
        <slot />
    </body>
</html>
<style>
    body {
        margin: 0;
    }
</style>
